<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Test</h1>
    <form action="{% url 'handle_form' %}" method="get">
        <label for="domain-search">Domain Search: </label>
        <input id="domain-search" name="domain-search" type="text"><br><br>

        <label for="keyword-search">Keyword Search: </label>
        <input id="keyword-search" name="keyword-search" type="text"><br>
        <button type="submit">Search</button>
    </form>
</body>
</html>